<!-- Footer Start -->
<div class="container-fluid bg-dark text-white footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Address</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>45 Tropica Road, Paradise City, NV 89001</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+1 (800) 123-4567</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>support@tropicacasino.com</p>
                <!-- Social media icons removed -->
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link" href="about.html">About Us</a>
                <a class="btn btn-link" href="games.html">Games</a>
                <a class="btn btn-link" href="contact.html">Contact Us</a>
                <a class="btn btn-link" href="service.html">Affiliate</a>
                <a class="btn btn-link" href="404.html">Terms &amp; Condition</a>
                <a class="btn btn-link" href="contact.html">Support</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Newsletter</h5>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control bg-transparent border-secondary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
        <!-- Casino design icons -->
        <div class="row g-4 pt-4 casino-design text-center">
            <div class="col-3">
                <i class="fa fa-dice fa-2x"></i>
            </div>
            <div class="col-3">
                <i class="fa fa-gem fa-2x"></i>
            </div>
            <div class="col-3">
                <i class="fa fa-heart fa-2x"></i>
            </div>
            <div class="col-3">
                <i class="fa fa-coins fa-2x"></i>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    &copy; Tropica Casino 2025 all rights reserved.<br>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center small">
                    Tropica Casino is operated by Tropica Entertainment Ltd. and licensed by the Example Gaming Authority (license no. 123456).<br>
                    Gambling can be addictive; please play responsibly. Only players 18+ are permitted. For help, contact <a href="mailto:support@tropicacasino.com" class="text-white">support@tropicacasino.com</a>.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
